indexhtml filter: configurable 'Modified At' format

I want to use more familier format for date time.

Added `timefmt` option.

Possible values are, case insensitive: `ANSIC`, `UNIX`, `RUBY`, `RFC822`, `RFC822Z`, `RFC850`, `RFC1123`, `RFC1123Z`, `RFC3339`, `RFC3339NANO`, `STAMP`, and `DATETIME`


this requires `use_unixtime: true` option of file protocol to work

included #95